* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/* Styles to header applied */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Header styles end */

/* Digital marketing image style */
#digital-marketing {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}
/* Digital marketing image style end */

/* Styles applied to section/article */
#goals {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
.marketing-goals {
  height: 280px;
  margin-bottom: 20px;
  background: #0072ba;
  color: #fcfaf9;
  padding: 45px;
}
.marketing-goals img {
  max-height: 200px;
}
.marketing-goals h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.text-left {
  float: left;
  margin-right: 25px;
}

.text-right {
  float: right;
  margin-left: 25px;
}
/* Section/article styles end */

/* Aside styles added */
#aside-description {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  background-color: #2589bd;
}

.benefits {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Aside styles end */

/* Footer Styles applied */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 15px;
}
/* Footer styles end */